name: 'publish'

on:
  push:

jobs:
  build:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: 'macos-latest' # for Arm based macs (M1 and above).
            args: '--target aarch64-apple-darwin'
          - platform: 'windows-latest'
            args: ''

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          # Those targets are only used on macos runners so it's in an `if` to slightly speed up windows and linux builds.
          targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin' || '' }}

      - name: Install frontend dependencies
        run: npm ci

      - name: Build Artifacts
        run: npm run tauri build
      
      - name: Upload macOS binary
        uses: actions/upload-artifact@v4
        with:
          name: macos-arm64-binary
          path: src-tauri/target/release/bundle/dmg/**.dmg
        if: ${{ matrix.platform == 'macos-latest' }}

      - name: Upload Windows binary
        uses: actions/upload-artifact@v4
        with:
          name: windows-amd64-binary
          path: src-tauri/target/release/bundle/nsis/**.exe
        if: ${{ matrix.platform == 'windows-latest' }}
